PORT=4000
NODE_ENV=development
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=154653856
DB_NAME=futbol_stats
DB_PORT=3306
JWT_SECRET=super_secret_jwt_key_change_me
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@futbol.com
ADMIN_PASSWORD=Admin123!
